// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
.mySwiper {
  width: 100%;
  height: 220px;
}

.img-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
