.cabecera{
   text-align: center;
   padding: 25px;
   background: linear-gradient(135deg, rgb(243, 160, 175), rgba(244, 174, 99, 0.83));
}

.acordion{
    padding: 15px;
}

.header{
     background: #e3a324cd;
     margin-bottom: 10px;
}
.faq-content{
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}