.cabecera{
   text-align: center;
   padding: 25px;
   background: linear-gradient(135deg, rgb(228, 149, 3), rgba(210, 248, 42, 0.31));
}

.acordion{
    padding: 15px;
}

.header{
     background: #e3a324cd;
     margin-bottom: 10px;
}
.faq-content{
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}