.footer {
    background: #5c5758df;
    padding: 12px 0;
    border-top: 1px solid #5c5758df;
}

.footer-container {
   text-align: center;
}

.menu{
  margin-top: 10px;
}
.menu a {
  margin: 5 12px; 
  font-size: 14px;
  color: #1c5ce7
}
.menu a:hover {
    color: #f5e021;
    text-decoration: underline;
}