<ion-footer class="footer">

  <div class="footer-container">
    <a href="https://facebook.com" target ="_blank">
      <ion-icon name="logo-facebook"></ion-icon>

    </a>


    <a href="https://instagram.com" target ="_blank">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>

    <a href="https://wa.me/5930993710177" target ="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </a>
 
  
  <div class="menu">
  <a routerLink="/nosotros" > Nosotros </a>
  <a routerLink="/preguntas"> Preguntas frecuentes </a>
  <a routerLink="/horarios"> Horarios </a>
  </div>
   </div>

</ion-footer>