.contenedor-vermas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}


.imagen{
    width: 480%;
    max-width: 500px;
    border-radius: 18px;
    padding: 10px;
    box-shadow: 0px 8px 20px rgba(231, 124, 30, 0.599)


}

