<app-header-global></app-header-global>


<ion-content [fullscreen]="true">
  <section class="horario">
    <h2>Encuentra aquí nuestros horarios de atención</h2>
  </section>

  <ion-card>
  <ion-card-header class="header">
    <ion-card-title>Horarios de Atención</ion-card-title>
  </ion-card-header>

  <ion-card-content class="card">
    <p><ion-icon name="alarm-sharp"></ion-icon><strong>Atención al Cliente:</strong> 09:00 - 20:00</p>
    <p><ion-icon name="bag-handle"></ion-icon><strong>Pedidos:</strong> Disponible 24/7</p>
    <p><ion-icon name="airplane-sharp"></ion-icon><strong>Envíos Locales:</strong> 10:00 - 18:00</p>
    <p><ion-icon name="hourglass"></ion-icon><strong>Domingo:</strong> Cerrado</p>
  </ion-card-content>
</ion-card>

</ion-content>
