.horario{
   text-align: center;
   padding: 25px;
   background: linear-gradient(135deg, rgb(243, 160, 175), rgba(244, 174, 99, 0.83));
}

.card{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}
.header{
    text-align: center;
    }