<app-header-global></app-header-global>



<ion-content [fullscreen]="true">


  <nav class="categorias" >
   <ul class="munu-horizontal">
    <li class="item"  *ngFor="let cat of categoria">
      {{cat.categorias}}
       <ul class="submenu">
        <li *ngFor="let sub of cat.subcategoria"
         (click)="filtrarPorSubcategoria(sub)">
          {{sub}}
        </li>
       </ul>
    </li>
   </ul>
  </nav>

    <ion-searchbar placeholder= "Buscar productos" 
    (ionInput)="filtrar($event)" >
    </ion-searchbar>

<div   class="carg" >
  <ion-card  class="card2"  *ngFor="let p of productosfiltrados"  >
    <img [src]="p.imagen" class="img"    (click)="verimagengrande(p)"   />
    <ion-card-header>
      <ion-card-title class="titulo"   (click)="irvermas(p)"     >{{p.titulo}}</ion-card-title>
      <ion-card-subtitle color="danger" class="precio">Precio:$ {{p.precio}}</ion-card-subtitle>
     </ion-card-header>


  </ion-card>

</div>
</ion-content>


<app-footer-global></app-footer-global>

