//segundo card

.card2 {
   width: 200px;
   margin: 20px auto;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(225, 65, 92, 0.33);
}



.img {
     width: 100%;
     border-radius:16px ;
     margin-bottom: 15px;

}



.carg {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}