<app-header-global></app-header-global>




<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-searchbar placeholder= "Buscar productos" 
    (ionInput)="filtrar($event)">
    </ion-searchbar>



<div   class="carg" >
  <ion-card  class="card2"  *ngFor="let p of productosfiltrados" (click)="irvermas(p)" >
    <img [src]="p.imagen" class="img" />
    <ion-card-header>
      <ion-card-title class="titulo">{{p.titulo}}</ion-card-title>
      <ion-card-subtitle color="danger" class="precio">Precio:$ {{p.precio}}</ion-card-subtitle>
     </ion-card-header>


  </ion-card>

</div>
</ion-content>