<ion-header>
  <ion-toolbar>
    <ion-title> Historia & Valores </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Nuestra Historia</h1>

  <p> 
    Nacimos con la idea de que cada chica merece sentirse segura, elegante y auténtica. 
    Lo que comenzó como un pequeño proyecto creativo se transformó en una marca dedicada 
    a diseñar prendas formales y sofisticadas que realzan la esencia femenina.
    Desde nuestros primeros bocetos hasta las nuevas colecciones, hemos mantenido una 
    visión clara: convertir cada ocasión en una oportunidad para brillar con estilo propio. 
    Nuestro camino ha estado marcado por pasión, dedicación y un profundo amor por los detalles 
    que hacen que una prenda sea verdaderamente especial.
.
  </p>
  <h1>Valores</h1>
    <h3> Calidad y Cuidado:</h3>
    <p>
    Seleccionamos materiales que combinan confort, durabilidad y belleza. 
    No solo creamos ropa, creamos experiencias que se sienten bien por dentro y por fuera.
  </p>
  <h3> Detalles que Hablan:</h3>
    <p>
    Cada costura, caída y textura es pensada con precisión. 
    La elegancia vive en los pequeños detalles..
  </p>
  <h3> Honestidad y Cercanía:</h3>
    <p>
    Construimos relaciones basadas en la confianza. 
    Creemos en la transparencia, la comunicación clara y el respeto hacia nuestras clientas.
  </p>
  <h3> Empoderamiento Femenino:</h3>
    <p>
    Nuestro propósito es que cada chica que vista nuestras prendas se sienta confiada, fuerte y lista para conquistar sus metas.
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Nosotros </ion-title>
  </ion-toolbar>
</ion-footer>