<app-header-global></app-header-global>


<ion-content [fullscreen]="true" class="ion-padding">

  <img src="assets/img/Historia.png" class="mihistoria"/>

  <ion-card-content class="card"><ion-title color="tertiary"><h1>Nuestra Historia</h1></ion-title>

  <p> 
    Nuestra historia comenzó con un sueño: crear ropa que no solo vistiera, sino que contara historias. 
    Desde nuestros inicios, nos propusimos ofrecer prendas para chicas modernas que buscan estilo y autenticidad. 
    Cada diseño refleja la pasión por la moda y el deseo de que cada cliente se sienta única y especial.
    Nos inspiramos en la vida cotidiana, el arte y la cultura urbana para crear diseños que no se encuentran 
    en ningún otro lugar. Nacimos con la idea de que cada chica merece sentirse segura, elegante y auténtica. 
    Lo que comenzó como un pequeño proyecto creativo se transformó en una marca dedicada a diseñar prendas formales y sofisticadas 
    que realzan la esencia femenina.Desde nuestros primeros bocetos hasta las nuevas colecciones, hemos mantenido una visión clara: 
    convertir cada ocasión en una oportunidad para brillar con estilo propio. 
    Nuestro camino ha estado marcado por pasión, dedicación y un profundo amor por los detalles que hacen que una prenda sea verdaderamente especial.
    
  </p>
  </ion-card-content>
  
  <ion-card-content class="card"><ion-title color="tertiary"><h1> Mirando hacia el futuro </h1> </ion-title>
    <p>
    Nuestro objetivo sigue siendo crecer y ofrecer moda que inspire. Queremos que cada colección sea una invitación 
    a explorar nuevas combinaciones, a atreverse con lo diferente y a celebrar la individualidad. En cada prenda 
    hay un pedacito de nuestra pasión y un compromiso con la moda que empodera a chicas de todo tipo. Más que vender ropa, 
    buscamos crear una comunidad de chicas que aman expresarse a través de su estilo. Escuchamos sus ideas, compartimos tendencias 
    y nos aseguramos de que cada prenda se sienta cercana y accesible, pero siempre con ese toque exclusivo que nos caracteriza.
  </p>
  </ion-card-content>

</ion-content>
