.mihistoria {
     width: 60%;
     height: 50%;
     border-radius: 18px;
     padding: 10px;
     box-shadow: 0px 8px 20px rgba(231, 124, 30, 0.599)

}


.logo{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    
}

.ion-padding {
   text-align: center;

}

.header{
     background: #f64020cd;
     margin-bottom: 10px;
}